html 
    head
        title Dashboard
        link(rel="stylesheet" href="/dashboard.css")
    body
        header.info 
            h1 Account : #{current}
            
            p No. of offfers = #{offers.length}
            p No. of requests = #{requests.length}

            form(action="/logout")
                input(type="submit", value="Log Out")
                style.align-self flex-start

        h1 Your Accont Info
        ul.info
            li Energy Balance = #{curr_obj.energy}
            li Ethers = #{curr_obj.money}
            li No. of Requests = #{curr_obj.n_requests}
            li Energy offered by you (accepted / not accepted) = #{curr_obj.offered_eg}
        
        h2 Energy Consumption
        form(action="/consume", method="post")
            label(for='qty')  Consmption Quantity: 
            input#qty(type='number' name='qty' min='0' required='')
            input(type="submit", value="Consume")

        h2 Make Request
        form(action="/place_request", method="post")
            label(for='qty')  Quantity: 
            input#qty(type='number' name='qty' min='0' required='')
            input(type="submit", value="Make Request")

        h2 All Requests
        table
            thead
                tr
                    th Request Qty
                    th Place offer
            tbody
                each request, i in requests
                    tr
                        td #{request.qty}
                        td
                            form(action="/place_offer", method="post")
                                input#req_ind(type="hidden", name="req_ind", value=i)

                                label(for='price')  Price: 
                                input#price(type='number' name='price' min='0' required='')

                                input(type="submit", value="Make Offer")
        h2 Your Requests
        table
            thead
                tr
                    th Request Qty
                    th Best Offer
            tbody
                each request, i in requests
                    if request.owner == current
                        tr
                            td #{request.qty}
                            td
                                if best_offers_lst[i]
                                    div.best-offer
                                        #{best_offers_lst[i].price}
                                        form(action="/accept_offer", method="post")
                                            input#req_ind(type="hidden", name="req_ind", value=i)
                                            input(type="submit", value="Accept Offer")
                                else
                                    p.no-offer No offers yet

        footer
